* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: black;
    --letters: white;
    --lightgreen_hover: rgb(96, 167, 104);
    --linear_color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,51,41,1) 35%, rgba(99,212,113,1) 100%);
    --transparent: rgba(0, 0, 0, 0.5);
    --darkblue: rgba(2,0,36,1);
    --footer: rgba(112, 110, 110, 0.5);
}

body {
    font-family: 'Lato', sans-serif;
    background: var(--linear_color);
}

html {
    scroll-behavior: smooth;
}

/* NAVBAR */
.parent_navbar {
    padding: 1vw 1.5vw;
    position: fixed;
    width: 100%;
    display: flex;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out box-shadow;
    z-index: 999999999999;
}

.parent_navbar img {
    margin-right: auto;
    width: 8vw;
}

.parent_navbar ul,
.child_footer,
.child_footer ul {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.parent_navbar ul,
.parent_navbar ul li a,
.services_item a,
.child_footer ul li,
.child_footer ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 1.3vw;
    color: var(--white);
    position: relative;
}

.parent_navbar ul li a::after,
.child_footer ul li a::after {
    content: '';
    position: absolute;
    background-color: var(--letters);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: .3s;
}

.parent_navbar ul li a:hover::after,
.child_footer ul li a:hover::after {
    width: 100%;
}

header::before {
    position: absolute;
    content: '';
    background-image: url(/img/car1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 74vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -8;
    opacity: .5;
}

.hamburger {
    display: none;
}

/* ON SCROLL NAVBAR BG */
.navbarBg {
    background-color: var(--black);
    color: var(--letters);
    box-shadow: 0 0 10px 10px var(--black);
}

#asd {
    display: block;
}

#ads {
    display: none;
}

.navbarBg ul li a {
    color: var(--letters);
}

/* MAIN */
#contact {
    padding-block: 8vw;
    overflow: hidden;
}

.parent_form {
    text-align: center;
    padding: 5vw;
}

.parent_form h1 {
    font-size: 3.5vw;
    color: var(--letters);
}

hr {
    margin-block: 2vw;
}

.form_input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
}

.form_input input,
.form_input textarea {
    font-size: 2vw;
    width: 50%;
    padding: .5vw;
    border-radius: 10px;
    border-style: none;
}

.form_input textarea {
    resize: none;
    height: 10vw;
}

.parent_form {
    background: var(--transparent);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

.child_form button {
    margin-top: 5vw;
    font-size: 2vw;
    width: 25%;
    padding: .5vw;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.btn button:hover {
    background-color: var(--black);
    color: var(--letters);
}

.child_form .btn {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

/* FOOTER */
footer {
    background: var(--footer);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    padding: 2vw 10vw 1vw 10vw;
    text-align: center;
    color: var(--letters);
}

.copyright a {
    text-decoration: none;
    color: var(--letters);
}

.copyright a:hover {
    color: var(--black);
}

.parent_footer {
    display: flex;
}

.parent_footer img {
    width: 10vw;
    margin-right: auto;
}

@media screen and (max-width: 426px) {
    /* NAVBAR */
    .parent_navbar {
        background-color: var(--black);
        box-shadow: 0 0 20px 20px var(--black);
        padding: 2.5vw;
    }

    .parent_navbar ul {
        flex-direction: column;
        position: fixed;
        left: -150%;
        top: 75px;
        width: 95%;
        color: var(--letters);
        background-color: var(--black);
        box-shadow: 0 0 20px 20px var(--black);
        transition: .3s;
        gap: 7vw;
        padding: 2vw;
    }

    .parent_navbar ul li a {
        font-size: 5vw;
    }

    .parent_navbar ul.active {
        left: 10px;
    }

    #asd {
        display: none;
    }

    #ads {
        display:block;
    }

    .parent_navbar img {
        width: 20vw;
        background-size: 20vw;
    }

    .navbarBg img {
        width: 20vw;
        background-size: 20vw;
    }

    .hamburger{
        display: block;
        background-image: url("/img/open.png");
        width: 20vw;
        height: 10vw;
        background-repeat:no-repeat;
        background-size: 15vw;
        background-position: center;
    }

    .parent_navbar ul,
    .services_item a,
    .child_footer ul li,
    .child_footer ul li a {
        font-size: 3vw;
    }

    .child_footer,
    .child_footer ul {
        flex-direction: column;
        gap: 2vw;
    }

    /* HEADER */
    header::before {
        height: 125%;
    }

    /* FORM */
    #contact {
        padding-block: 30vw;
    }

    hr {
        margin-block: 5vw;
    }

    .parent_form {
        padding: 10vw 5vw 10vw 5vw;
    }

    .parent_form h1 {
        font-size: 8vw;
    }

    .form_input {
        gap: 4vw;
    }

    .form_input input,
    .form_input textarea {
        font-size: 5vw;
        padding: 2vw;
        width: 100%;
    }

    .form_input textarea {
        height: 20vw;
    }

    .parent_form button {
        width: 50%;
        font-size: 5vw;
        padding: 2vw;
        margin: 10vw 0 0 0;
        border-style: none;
    }

    /* FOOTER */
    footer {
        padding: 0 5vw 0vw 5vw;
    }

    .parent_footer {
        flex-direction: column;
        align-items: center;
        gap: 5vw;
        padding-block: 5vw;
    }

    .parent_footer img {
        width: 30vw;
        margin-right: 0;
    }
}
