<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <title>About Us | Car Rentalalalals</title>
</head>
<body>
    <header id="top">
        <nav id="navbar" class="parent_navbar">
            <img id="asd" src="/img/logo1.png" alt="">
            <img id="ads" src="/img/logo.png" alt="">
            <ul class="navbar">
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/components/reservation.html" target="_blank">RESERVATIONS</a></li>
                <li><a href="/components/contact.html" target="_blank">CONTACT US</a></li>
                <li><a href="/components/about.html" target="_blank">ABOUT US</a></li>
            </ul>
            <div class="hamburger"></div>
        </nav>
    </header>

    <main>
        <section>
            <div class="about_container">
                <div class="parent_about">
                    <h1>About Us</h1>
                    <div class="missionvision">
                        <div class="missionvision_info">
                            <img src="/img/mission.jpg" alt="" class="mission">
                            <div class="missionvision_inner">
                                <h2>Our Mission</h2>
                                <p>The mission of our car rental website is to provide our customers with a convenient, affordable, and enjoyable car rental experience. We aim to make it easy for customers to find and reserve the perfect vehicle for their needs, whether they are looking for a small car for a day trip or a larger vehicle for a longer journey. We also strive to provide excellent customer service and support, so that our customers can feel confident and secure while using our services.</p>
                            </div>
                        </div>
                        <div class="missionvision_info">
                            <img src="/img/vision.webp" alt="" class="vision">
                            <div class="missionvision_inner">
                                <h2>Our Vision</h2>
                                <p>The mission of our car rental website is to provide our customers with a convenient, affordable, and enjoyable car rental experience. We aim to make it easy for customers to find and reserve the perfect vehicle for their needs, whether they are looking for a small car for a day trip or a larger vehicle for a longer journey. We also strive to provide excellent customer service and support, so that our customers can feel confident and secure while using our services.</p>
                            </div>
                        </div>
                        <div class="missionvision_info">
                            <div class="missionvision_inner">
                                <center><p>In order to achieve our mission and vision, we will focus on providing high-quality vehicles and services at competitive prices. We will also invest in state-of-the-art technology and user-friendly design to make our website easy to use and navigate. Additionally, we will constantly seek feedback from our customers and use it to improve our services and meet their evolving needs.</p>
                                <p>Overall, our mission and vision for our car rental website is to provide exceptional service and value to our customers, while constantly striving to improve and expand our offerings. By doing so, we hope to become the go-to website for anyone looking to rent a car and make their travels more convenient and enjoyable.</p></center>
                            </div>
                        </div>
                    </div>



                    <div class="parent_child">
                        <div class="about_info">
                            <img src="/img/elijah.jpg" alt="">
                            <p>Jose Elijah Fernandez is the founder of our car rental company. He has a passion for cars and entrepreneurship. He began his career at a major car rental company. In 2022, he founded our company and has overseen its expansion and success. In his free time, he enjoys restoring classic cars and attending industry events.</p>
                        </div>
                        <div class="about_info">
                            <img src="/img/bermar.jpg" alt="">
                            <p>Bermar Villarazo Jr. is our web developer. He has over a decade of experience in web development and is skilled in creating user-friendly websites. He joined our company in 2022 and has been instrumental in the development and design of our website. He stays up-to-date with the latest trends in web development and is a strong communicator and problem-solver. In his free time, he enjoys hiking and gaming.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="parent_footer">
                <img src="/img/logo.png" alt="">
                <div class="child_footer">
                    <ul>
                        <li><a href="/components/TermsAgreement.html">Terms & Condition</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="#top">Back to top</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; <a href="mailto" target="_blank">Elijah Fernandez</a> & <a href="mailto:bermar.villarazojr@cit.edu" target="_blank">Bermar Villarazo Jr.</a></p>
                <p><b>RENT-A-CAR TRANSPORT & SERVICES</b></p>
            </div>
        </footer>
    </main>

    <script src="/main.js"></script>
</body>
</html>