<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <title>Contact Us | Car Rentalalalals</title>
</head>
<body>
    <header id="top">
        <nav id="navbar" class="parent_navbar">
            <img id="asd" src="/img/logo1.png" alt="">
            <img id="ads" src="/img/logo.png" alt="">
            <ul class="navbar">
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/components/reservation.html" target="_blank">RESERVATIONS</a></li>
                <li><a href="/components/contact.html" target="_blank">CONTACT US</a></li>
                <li><a href="/components/about.html" target="_blank">ABOUT US</a></li>
            </ul>
            <div class="hamburger"></div>
        </nav>
    </header>

    <main>
        <section id="contact">
            <div class="parent_form">
            <h1>Contact Us</h1>
            <hr>
                <div class="child_form">
                    <form class="form_input">
                        <input type="text" placeholder="Name" required>
                        <input type="email" placeholder="Email" required>
                        <input type="number" placeholder="Phone no.">
                        <textarea placeholder="Description..."></textarea>
                        <div class="btn">
                            <button>Submit</button>
                        </div>
                    </form>

                    
                </div>
            </div>
        </section>

        <footer>
            <div class="parent_footer">
                <img src="/img/logo.png" alt="">
                <div class="child_footer">
                    <ul>
                        <li><a href="/components/TermsAgreement.html" target="_blank">Terms & Condition</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="#top">Back to top</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; <a href="mailto" target="_blank">Elijah Fernandez</a> & <a href="mailto:bermar.villarazojr@cit.edu" target="_blank">Bermar Villarazo Jr.</a></p>
                <p><b>RENT-A-CAR TRANSPORT & SERVICES</b></p>
            </div>
        </footer>
    </main>

    <script src="/main.js"></script>
</body>
</html>