<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reservation.css">
    <title>Reservations | Car Rentalalalals</title>
</head>
<body>
    <header id="top">
        <nav id="navbar" class="parent_navbar">
            <img id="asd" src="/img/logo1.png" alt="">
            <img id="ads" src="/img/logo.png" alt="">
            <ul class="navbar">
                <li><a href="/index.html" target="_blank">HOME</a></li>
                <li><a href="/components/reservation.html" target="_blank">RESERVATIONS</a></li>
                <li><a href="/components/contact.html" target="_blank">CONTACT US</a></li>
                <li><a href="/components/about.html" target="_blank">ABOUT US</a></li>
            </ul>
            <div class="hamburger"></div>
        </nav>
    </header>

    <main>
        <section>
            <div class="table_parent">
                <div class="table_container">
                <h1>RESERVATIONS</h1>
                    <table>
                        <tr class="active">
                            <th>SUV</th>
                            <th>Price</th>
                            <th>Year</th>
                            <th>Transmission</th>
                            <th>Engine</th>
                            <th>Fuel Type</th>
                            <th>Available</th>
                        </tr>
                        <tr>
                            <td>TOYOTA FORTUNER</td>
                            <td class="description">PHP 4,300 - Self Drive | PHP 4,300 - Chauffeur Drive</td>
                            <td>2019 Model</td>
                            <td>Automatic</td>
                            <td>2.4L</td>
                            <td>Diesel</td>
                            <td>
                                <input type="checkbox" checked onclick="return false;">
                            </td>
                        </tr>
                        <tr>
                            <td>TOYOTA INNOVA</td>
                            <td>PHP 4,600 - Self Drive | PHP 4,900 - Chauffeur Drive</td>
                            <td>2019 Model</td>
                            <td>Automatic</td>
                            <td>2.8L</td>
                            <td>Diesel</td>
                            <td>
                                <input type="checkbox" checked disabled onclick="return false;">
                            </td>
                        </tr>
                        <tr>
                            <td>FORD EVEREST</td>
                            <td class="description">PHP 4,800 - Self Drive | PHP 5,400 - Chauffeur Drive</td>
                            <td>2020 Model</td>
                            <td>Automatic</td>
                            <td>2.2L</td>
                            <td>Diesel</td>
                            <td>
                                <input type="checkbox" checked onclick="return false;">
                            </td>
                        </tr>

                        <tr class="active">
                            <th>SEDAN</th>
                            <th>Price</th>
                            <th>Year</th>
                            <th>Transmission</th>
                            <th>Engine</th>
                            <th>Fuel Type</th>
                            <th>Available</th>
                        </tr>
                        <tr>
                            <td>NISSAN ALMERA</td>
                            <td class="description">PHP 2,300 - Self Drive | PHP 2,700 - Chauffeur Drive</td>
                            <td>2019 Model</td>
                            <td>Automatic</td>
                            <td>2.4L</td>
                            <td>Diesel</td>
                            <td>
                                <input type="checkbox" checked disabled onclick="return false;">
                            </td>
                        </tr>
                        <tr>
                            <td>MITSUBISHI MIRAGE</td>
                            <td class="description">PHP 2,200 - Self Drive | PHP 2,500 - Chauffeur Drive</td>
                            <td>2019 Model</td>
                            <td>Automatic</td>
                            <td>2.3L</td>
                            <td>Diesel</td>
                            <td>
                                <input type="checkbox" checked onclick="return false;">
                            </td>
                        </tr>
                        <tr>
                            <td>TOYOTA VIOS</td>
                            <td class="description">PHP 2,400 - Self Drive | PHP 2,560 - Chauffeur Drive</td>
                            <td>2020 Model</td>
                            <td>Automatic</td>
                            <td>2.2L</td>
                            <td>Diesel</td>
                            <td>
                                <input type="checkbox" checked onclick="return false;">
                            </td>
                        </tr>

                        <tr class="active">
                            <th>4WD</th>
                            <th>Price</th>
                            <th>Year</th>
                            <th>Transmission</th>
                            <th>Engine</th>
                            <th>Fuel Type</th>
                            <th>Available</th>
                        </tr>
                        <tr>
                            <td>NISSAN NAVARA</td>
                            <td class="description">PHP 5,300 - Self Drive | PHP 7,700 - Chauffeur Drive</td>
                            <td>2016 Model</td>
                            <td>Automatic</td>
                            <td>2.3L</td>
                            <td>Diesel</td>
                            <td>
                                <input type="checkbox" checked disabled onclick="return false;">
                            </td>
                        </tr>
                        <tr>
                            <td>TOYOTA HILUX</td>
                            <td class="description">PHP 4,600 - Self Drive | PHP 6,900 - Chauffeur Drive</td>
                            <td>2018 Model</td>
                            <td>Automatic</td>
                            <td>2.8L</td>
                            <td>Diesel</td>
                            <td>
                                <input type="checkbox" checked onclick="return false;">
                            </td>
                        </tr>
                        <tr>
                            <td>FORD RANGER</td>
                            <td class="description">PHP 6,300 - Self Drive | PHP 8,999 - Chauffeur Drive</td>
                            <td>2017 Model</td>
                            <td>Automatic</td>
                            <td>2.6L</td>
                            <td>Diesel</td>
                            <td>
                                <input type="checkbox" checked disabled onclick="return false;">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <footer>
            <div class="parent_footer">
                <img src="/img/logo.png" alt="">
                <div class="child_footer">
                    <ul>
                        <li><a href="/components/TermsAgreement.html">Terms & Condition</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="#top">Back to top</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; <a href="mailto" target="_blank">Elijah Fernandez</a> & <a href="mailto:bermar.villarazojr@cit.edu" target="_blank">Bermar Villarazo Jr.</a></p>
                <p><b>RENT-A-CAR TRANSPORT & SERVICES</b></p>
            </div>
        </footer>
    </main>

    <script src="/main.js"></script>
</body>
</html>